/* index.css or app.css */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* index.css or app.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure this in your app.css or index.css */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures full viewport height */
}

/* For the new "Open File in New Tab" and "Copy Link" buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.open-file-button,
.copy-link-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.open-file-button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.open-file-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.copy-link-button {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.copy-link-button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.file-url-container h3 {
  margin-bottom: 10px;
}
